*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
p {
    font-weight: 300;       /* STYLE GLOBAL     */
    color: black;
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}
.logo{
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: 2px;

 /*************************LES EN-TÊTES***************************/
}
.logo span{
    color: #fb911f;         /***le R de resto*/

}
.navbar {
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;

}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;      /* SEPARATION DES EN-TÊTES */
    font-weight: 700;

}
.btn-reservation {
    padding: 10px 20px;
    background: #fb911f;    /* BACKGROUND==COULEUR DE FOND...*/
    margin-top: -10px;         /* MARGIN-TOP== equilibrer le button reservation avec les autres...*/
    text-transform: uppercase; /* METTRE LE MOT RESERVATION EN MAJUSCUL*/
}
.btn-reservation:hover{  /* AU SURVOL DU BUTTON: reservation */
    background: #d87710;
    transition: ease-out;

}
header .navbar li a:hover{     /* LE SURVOL DES EN-TÊTES */
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
    
}
.bannière {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pageheader-banner.jpg);
    background-size: cover;
}
.bannière .contenu {
    max-width: 70%;
    text-align: center;

}
.bannière .contenu h2 {
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2) {        /* POUR LE PARAGRAPHE(lorem)*/
    color: #fff;
    font-size: 1.2em;
}
.btn1 {
    font-size: 1em;
    color: #fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;       /* PARAMETRE  DU BUTTON: NOTRE MENU */
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn2 {
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;           /* PARAMETRE  DU BUTTON: RESERVATION */
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}
.btn1:hover {
    letter-spacing: 4px;

}

/*                              SECTION: 2   ( A propos de nous...)                 */                                   

section {
    padding: 100px;
}
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row.col50 {
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;


}
.row.col50 h2 {
    margin-bottom: 20px;
}
.titre-texte {
    color: black;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-texte span {
    color: #fb911f;
    font-size: 1.5em;               /*  le "A" DE A PROPOS */
    font-weight: 700px;
}

.row.col50 img {
    height: 450px;
    width: 600px;                   /*   WIDTH==LARGEUR */
    position: relative;

}
.titre {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titr{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    margin-top: -100px;
}
.menu .contenuu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .contenuu .box{
    width: 250px;
    margin: 15px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0, 0, 0, 0.8);
}
.menu .contenuu .box .imbox{
    position: relative;
    width: 100%;
    height: 290px;
}
.menu .contenuu .box .imbox img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 290px;
    object-fit: cover;
}
.menu .contenuu .box .text{
    text-align: center;
    font-weight: 300px;
    color: black;
}
.Expert{
    margin-top: -100px;
}
.Expert .contenuu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.Expert .contenuu .box{
    width: 250px;
    margin: 15px;
}
.Expert .contenuu .box img{
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}
.Expert .contenuu .box h3{
    color: black;
    font-weight: 700;
    text-align: center;
}


.temoignage{
    background-image: url(./images/bg2.jpg);
    background-size: cover;
}
.temoignage .contenuu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    align-items: center;
    flex-direction: row;
}
.temoignage .contenuu .box{
    width: 250px;
    margin: 15px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 40px;
}
.temoignage .contenuu .box .imbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.temoignage .contenuu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.temoignage .contenuu .box .text{
    text-align: center;
    color: #666;
    font-style: italic;
}
.temoignage .contenuu .box .text h3{
    color: #fb911f;
    margin-top: 10px;
    font-size: 1em;
    font-weight: 600;
}
.blanc .titre-texte{
    color: #fff;
}
.blanc .titre-texte,
.blanc p{
    color: #fff;
}
.contact{
    background-image: url(./images/img-form.jpg);
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
    width: 100%;
    background-position: unset;
}
.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 38%;
}
.contactform .input-boite{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contactform .input-boite input,
.contactform .input-boite textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactform .input-boite input[type="submit"]{
    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background: #fb911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-content: center;
}
.copyright{
    padding: 20px 40px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background: rgba(228, 222, 222);
    text-align: center;
}
.copyright p:nth-child(1){
    color: #333;
}
.copyright a {
    color: #fb911f;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}
.contact .titr_texte span{
    color: #fb911f;
    font-size: 2em;
}
.contact .titrenoir {
    text-align: center;
}




@media(max-width: 991px) {
header{
    padding: 10px 20px;
    background: #fff;
}
header .navbar li {
    margin-left: 0px;
}
header .navbar li a {
    text-decoration: none;
    color: #111;
    font-size: 1.5em;
    font-weight: 300;
}
header .logo{
    color: #111;
}
.navbar{
    display: none;
}
section{
    padding: 20px;
    align-items: center;
    flex-direction: column;
}
.bannière .contenu h2{
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contenu p:nth-child(2){
    font-size: 2em;
    font-weight: 290;
}
    .row.col50 {
        position: relative;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .row {
        flex-direction: column;
    }


    
}
